[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.selectedWysiwygTab {
  width: 100px;
  background-color: #AFD9FF;
  border-color: #769DC0;
  border-width: 2px;
  border-bottom-style: none;
  border-radius: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 10px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
}

.unselectedWysiwygTab {
  width: 100px;
  background-color: #E4F2FF;
  border-color: #769DC0;
  border-width: 2px;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 10px;
  height: 25px;
  font-size: 20px;
  cursor: pointer;
}

.ui-effects-wrapper {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 14px;
}

.ui-selecting {
  border: 2px dotted black;
}

.ui-selected {
  border: 2px ridge red;
}

.ui-selectable-helper {
  position: absolute;
  z-index: 1010;
  border: 1px dotted black;
  left: 0px;
  top: 0px;
}

.ui-dialog {
  border: 1px solid black;
  border-radius: 5px;
  opacity: 1;
  z-index: 3000;
  left: 0px;
  top: 0px;
  background-color: #E4F2FF;
  position: absolute;
  text-align: center;
}

.canvasElement {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  position: absolute;
  float: left;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #E4F2FF;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  z-index: 1002;
  background-color: #E4F2FF;
}

.canvasElement label {
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
  height: 18px;
  width: 45%;
  text-align: center;
}

#dragBar {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  border-left: 2px solid #769DC0;
  border-top: 2px solid #769DC0;
  border-bottom: 2px solid #769DC0;
  border-right: 2px solid #769DC0;
  float: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #E4F2FF;
  text-align: center;
  min-height: 80%;
  height: auto;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  position: relative;
}

#dragBar p {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
} 

#profilesHookTable {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

#profilesHookTable td {
  -webkit-transition: background-color 0.1s linear;
  cursor: default;
  border-collapse: collapse;
  border-left: 2px inset #000;
  border-right: 2px inset #000;
  background-color: #D0E9FC;
  z-index: 1002;
}

#profilesHookTable td:hover {
  border-right: 2px solid #E4F2FF;
  background-color: #F1CC91;
}

#container {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  overflow-y: hidden;
}

#nodeContextMenu {
  border-radius: 5px;
  border: 1px solid rgb(118, 157, 192);
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  background-color: #E4F2FF;
  height: auto;
  width: 120px;
  z-index: 3000;
  left: 0px;
  top: 0px;
  position: absolute;
}

#deleteNodes {
  border-bottom: 1px solid rgb(118, 157, 192);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#splitNodes, #mergeNodes {
  border-top: 1px solid rgb(118, 157, 192);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.single {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#nodeContextMenu div {
  text-align: center;
}

#nodeContextMenu div:hover {
  background-color: #D0E9FC;
  cursor: pointer;
}

#dragMe {
  border: 2px solid black;
  opacity: 1;
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  border-radius: 5px;
  height: 75px;
  width: 75px;
  margin: 0px auto;
  background: url('images/wysiwyg/unknown_75.png') no-repeat center;
  z-index: 1003;
  cursor: move;
}

#dragMe header {
  color: black;
  font-size: 16px;
  text-shadow: #000 0 1px;
  padding: 5px;
  box-shadow: 5px;
  z-index: 1002;
}

.ui-draggable-dragging {
  border: 1px solid black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  height: 50px;
  width: 50px;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;
  z-index: 1003;
  opacity: 0.4;
}

.ui-draggable-dragging header {
  color: black;
  font-size: 16px;
  text-shadow: #000 0 1px;
  padding: 5px;
  box-shadow: 5px;
  z-index: 1002;
}

.first {
  border-top: 2px solid #000;
}

.middle {
  border-top: 1px dashed;
}

.last {
  border-top: 1px dashed;
  border-bottom: 2px solid #000;
}

.canvas {
  border-right: 2px solid #769DC0;
  border-top: 2px solid #769DC0;
  border-bottom: 2px solid #769DC0;
  box-shadow: 0 0 2px 2px #888;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  position: relative;
  overflow: hidden;
  min-width: 70%;
  width: auto;
  min-height: 80%;
  height: auto;
  margin-bottom: 0px;
  box-shadow: 0px 0px 5px 5px #E4F2FF inset;
  background:url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==) fixed;
  background-color: white;
  background-position: 0px 0px;
}

.over {
  box-shadow: 0px 0px 5px 5px #F1CC91 inset;
}

#profileFadeInfo {
  width: 350px;
  height: auto;
  min-height: 300px;
  border: 2px solid #000;
  position: absolute;
  z-index: 3000;
  -webkit-transition: display 0.2s linear;
  -webkit-transition: top 0.2s linear;
  -moz-transition: display 0.2s linear;
  -moz-transition: top 0.2s linear;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  background-color: #E4F2FF;
}

#profileFadeInfo:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #000;
  border-bottom: 10px solid transparent;
  z-index: 1001;
}

#profileFadeInfo label {
  width: 100%;
}

#pres {
  margin: 10px 10px 10px 10px;
  position: relative;
  max-height: 800px;
  overflow: hidden;
}

#slideInfo {
  position: absolute;
  z-index: 2001;
  overflow: hidden;
  width: 200px;
  border-left: 2px solid #769DC0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #E4F2FF;
  float: left;
  right: 2px;
  margin-top: 2px;
  padding-left: 10px;
  /*margin-right: 14px;*/
}

.offscreenIndicatorRight {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  width: 20px;
  height: 20px;
  z-index: 2006;
  position: absolute;
}

.offscreenIndicatorRight:before {
  content: "";
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 40px solid #000;
  border-bottom: 20px solid transparent;
  z-index: 2006;
}

.offscreenIndicatorLeft {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  width: 20px;
  height: 20px;
  z-index: 2006;
  position: absolute;
}

.offscreenIndicatorLeft:after {
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 40px solid #000;
  border-bottom: 20px solid transparent;
  z-index: 2006;
}

.offscreenIndicatorTop {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  width: 20px;
  height: 20px;
  z-index: 2006;
  position: absolute;
}

.offscreenIndicatorTop:after {
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-bottom: 40px solid #000;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  z-index: 2006;
}

.offscreenIndicatorBottom {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  width: 20px;
  height: 20px;
  z-index: 2006;
  position: absolute;
}

.offscreenIndicatorBottom:after {
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #000;
  z-index: 2006;
}

.offscreenIndicatorCornerTL {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  width: 20px;
  height: 20px;
  z-index: 2006;
  position: absolute;
}

.offscreenIndicatorCornerTL:after {
  -webkit-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  -moz-transform-origin: 0 50% 0;
  -o-transform-origin: 0 50% 0; 
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-right: 40px solid #000;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 2006;
}

.offscreenIndicatorCornerBL {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  width: 20px;
  height: 20px;
  z-index: 2006;
  position: absolute;
}

.offscreenIndicatorCornerBL:after {
  -webkit-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  -moz-transform-origin: 0 50% 0;
  -o-transform-origin: 0 50% 0; 
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-right: 40px solid #000;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 2006;
}

.offscreenIndicatorCornerTR {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  width: 20px;
  height: 20px;
  z-index: 2006;
  position: absolute;
}

.offscreenIndicatorCornerTR:before {
  -webkit-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  -moz-transform-origin: 0 50% 0;
  -o-transform-origin: 0 50% 0; 
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 40px solid #000;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 2006;
}

.offscreenIndicatorCornerBR {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  width: 20px;
  height: 20px;
  z-index: 2006;
  position: absolute;
}

.offscreenIndicatorCornerBR:before {
  -webkit-transform-origin: 100% 50% 0;
  -ms-transform-origin: 100% 50% 0;
  -moz-transform-origin: 100% 50% 0;
  -o-transform-origin: 100% 50% 0; 
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  content: "";
  position: absolute;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 40px solid #000;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 2006;
}

#portsetTable {
  border-collapse: collapse;
  background-color: #E4F2FF;
  width: 99%;
}

#portsetTable .left {
  border-top: 2px solid #D0E9FC;
  border-bottom: 2px solid #D0E9FC;
  border-right: 2px solid #D0E9FC;
  text-align: center;
}

#portsetTable .right {
  border-top: 2px solid #D0E9FC;
  border-bottom: 2px solid #D0E9FC;
  text-align: center;
}

#slideInfo label {
  margin-right: 10px;
  font-weight: bold;
}

#name {
  font-weight: bold;
  font-size: 20px;
}

#pageWrap {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

#nodeNumber {
  width: 80%;
}

#expandHelp {
  background-color: #009900; 
  width: 20px;
  height: 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

#helpPane {
  background-color: #F1CC91;
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  z-index: 3000;
  width: 760px;
  display: none;
  position: absolute;
}

.kbk {
  border: 1px solid gray;
  font-size: 1.2em;
  box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 3px;
  padding: 1px 5px;
  background-color: white;
}
