[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.canvasElement {
  position: absolute;
  float: left;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  background: url('images/ok.png') no-repeat center;
  background-size: contain;
  border: 1px solid black;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
}

#dragBar {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-right: 1px dashed #000;
  float: left;
  background-color: #E4F2FF;
  text-align: center;
  min-height: 80%;
  height: auto;
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  position: relative;
}

#container {
  height: 100%;
  width: 100%;
  display: inline-block;
  overflow-y: hidden;
}

#dragBar img {
  cursor: move;
}

#dragMe {
  border: 2px solid black;
  opacity: 1;
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  height: 90px;
  width: 90px;
  margin: 0px auto;
  background: url('images/novaIcon.png') no-repeat center;
  z-index: 1003;
}

#dragMe header {
  color: black;
  font-size: 16px;
  text-shadow: #000 0 1px;
  padding: 5px;
  box-shadow: 5px;
  z-index: 1002;
}

.ui-draggable-dragging {
  border: 2px solid black;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 0px auto;
  background: url('images/novaIcon.png') no-repeat center;
  z-index: 1003;
  opacity: 0.4;
}

.ui-draggable-dragging header {
  color: black;
  font-size: 16px;
  text-shadow: #000 0 1px;
  padding: 5px;
  box-shadow: 5px;
  z-index: 1002;
}

#dragBar label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

#dragBar table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

#dragBar table td {
  -webkit-transition: background-color 0.1s linear;
  cursor: default;
  border-collapse: collapse;
  border-left: 2px inset #000;
  border-right: 2px inset #000;
  background-color: #D0E9FC;
  z-index: 1002;
}

#dragBar table td:hover {
  background-color: #F1CC91;
  border-right: 2px solid #E4F2FF;
}

.first {
  border-top: 2px solid #000;
}

.middle {
  border-top: 1px dashed;
  border-bottom: 1px dashed;
}

.last {
  border-bottom: 2px solid #000;
}

#nodeCanvas {
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  position: relative;
  overflow: hidden;
  min-width: 70%;
  width: auto;
  min-height: 80%;
  height: auto;
  margin-right: 10px;
  margin-bottom: 0px;
}

#topology {
  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  position: relative;
  overflow: hidden;
  min-width: 70%;
  width: auto;
  min-height: 80%;
  height: auto;
  margin-right: 10px;
  margin-bottom: 0px;
}

.over {
  box-shadow: 0px 0px 5px 5px #F1CC91 inset;
}

#profileInfo {
  width: 300px;
  height: auto;
  min-height: 300px;
  border: 2px solid #000;
  position: absolute;
  z-index: 1001;
  -webkit-transition: display 0.2s linear;
  -webkit-transition: top 0.2s linear;
  -moz-transition: display 0.2s linear;
  -moz-transition: top 0.2s linear;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  background-color: #E4F2FF;
}

#profileInfo:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #000;
  border-bottom: 10px solid transparent;
  z-index: 1001;
}

#profileInfo label {
  margin-right: 10px;
}

#pres {
  margin: 10px 10px 10px 10px;
  text-align: left;
}

#name {
  font-weight: bold;
  font-size: 20px;
}

#pageWrap {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

#nodeNumber {
  width: 80%;
}
