extends layout

block headerAdditions
  script.
    function checkForUpdates() {
      now.AutoUpdate(function(err, res) {
        if (err) {
          console.log("ERROR: "+ err);
          return;
        }

        res = res.replace(/\n/g, '<br />');
        $("#status")[0].innerHTML += res;
        window.scrollTo(0,document.body.scrollHeight);
      });
    }

block content
  div.contentBox
    h1 Nova Updater

    button(onclick="checkForUpdates()") Check for updates

    br
    p#status

