extends layout

block headerAdditions
  script.
    function init() {
        now.IsUpdateInProgress(function(isUpdateInProgress) {
            if (isUpdateInProgress) {
                $("#status")[0].innerHTML += "<b>Update is already in progress! Results will be shown below.</b><br/>";
                checkForUpdates();
            } else {
                console.log("show");
                $("#updateButton").show();
            }
        });
    }

    function checkForUpdates() {
      now.AutoUpdate(function(err, res) {
        if (err) {
          console.log("ERROR: "+ err);
          return;
        }

        res = res.replace(/\n/g, '<br />');
        $("#status")[0].innerHTML += res;
        window.scrollTo(0,document.body.scrollHeight);
      });
    }

block content
  div.contentBox
    h1 Nova Updater

    button#updateButton(onclick="checkForUpdates()", style="display: none") Click to update Nova and Honeyd to the newest version

    br
    p#status

