extends layout

block headerAdditions
  script.
    function checkForUpdates() {
      now.AutoUpdate(function(err, res) {
        if (err) {
          console.log("ERROR: "+ err);
          return;
        }

        console.log(res);
        $("#status").append("<span>" + res + "<BR></span>");
        $('#status').scrollTo( '100%' );
      });
    }

block content
  div.contentBox
    h1 Nova Updater

    button(onclick="checkForUpdates()") Check for updates

    br
    div#status
