////============================================================================
//// Name        : wysiwyg.jade
//// Copyright   : DataSoft Corporation 2011-2013
////  Nova is free software: you can redistribute it and/or modify
////   it under the terms of the GNU General Public License as published by
////   the Free Software Foundation, either version 3 of the License, or
////   (at your option) any later version.
////
////   Nova is distributed in the hope that it will be useful,
////   but WITHOUT ANY WARRANTY; without even the implied warranty of
////   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
////   GNU General Public License for more details.
////
////   You should have received a copy of the GNU General Public License
////   along with Nova.  If not, see <http://www.gnu.org/licenses/>.
////============================================================================

extends layout

block headerAdditions
  link(rel="stylesheet", type="text/css", href="wysiwyg.css", media="screen")
  script
    var configurationList = !{JSON.stringify(configurations)};
    var nodeList = !{JSON.stringify(nodes)};
    var interfaces = !{JSON.stringify(interfaces)};
    var currentConfig = '#{current}';
  script(type='text/javascript', src='scripts/wysiwyg.js')
    
block content
  div#pageWrap(onmouseover='hideProfileInfo(event)')
    div(style='width: 250px;')
      label(style='font-size: 20px; font-weight: bold;') Haystack WYSIWYG
      div#expandHelp(onclick='handleHelpPaneSlide()') ?
        div#helpPane
          h1(style='margin-left: 5px;') User Actions
          p(style='margin-left: 5px; font-weight: bold;') 
            span.kbk Ctrl 
            + 
            span.kbk Shift
            + 
            span.kbk S
            span : Save Topology
          p(style='margin-left: 5px') 
            span(style='font-weight: bold;') Middle Mouse Drag: 
            Move all nodes
          p(style='margin-left: 5px;') User can drag lasso over nodes to capture them for:
          p(style='margin-left: 10px; font-weight: bold;') 
            span.kbk Del
            span : Delete Selected Nodes
          p(style='margin-left: 10px;') 
            span(style='font-weight: bold;') Left Click Mouse Drag: 
            Move all selected nodes 
          p(style='margin-left: 10px; font-size: 24px;') Right-Click menu:
          p(style='margin-left: 15px;') 
            span(style='font-weight: bold;') Delete Selected: 
            Delete all selected nodes
          p(style='margin-left: 15px;') 
            span(style='font-weight: bold;') Merge Selected: 
            Nodes can only be merged if they share the same interface, portset, ethernet vendor, and IP address allocation type
          p(style='margin-left: 15px;')
            span(style='font-weight: bold;') Split Selected: 
            Split selected node into two nodes (will only appear if one node is selected)
          p(style='margin-left: 5px;') Making a new Node:
          p(style='margin-left: 10px;') 
            span(style='font-weight: bold;') 1) 
            span Select Configuration from Dropdown
          p(style='margin-left: 10px;') 
            span(style='font-weight: bold;') 2) 
            span Select number of Nodes to create
          p(style='margin-left: 10px;') 
            span(style='font-weight: bold;') 3) 
            span Click on desired profile - configure as desired, Save Parameters
          p(style='margin-left: 10px;') 
            span(style='font-weight: bold;') 4) 
            span Drag highlighted node in left bar onto Canvas
          br
    br
    div(id='tabDock', style='margin-left: 152px')
    div#modalDialog(title='Split Nodes')
      div#rangeDiv
      button#splitAccept
        img.buttonIcon(src='images/start.png', alt='Confirm button image')
        span.buttonSpan Split Nodes
    div#profileInfo
      div#pres
        label#name
        br
        br
        label Port Sets
        select#portSets
        br
        br
        table#portsetTable
          thead
            tr
              th(class='left') Port
              th(class='right') Behavior
          tbody#profileTableHook
        br
        label Ethernet Vendors
        select#vendors
        br
        label Ethernet Interfaces
        select#interfaces
        br
        label Ip Address Allocation Type
        select#allocationType(onchange='showIpBlock()')
          option DHCP
          option IP Range
        br
        div#ipBlock(style='display: none;')
          input#ip1(type='number', min='0', max='255', value='0', step='1')
          input#ip2(type='number', min='0', max='255', value='0', step='1')
          input#ip3(type='number', min='0', max='255', value='0', step='1')
          input#ip4(type='number', min='0', max='255', value='0', step='1')
        br
        button(onclick='saveSelectedParameters()')
          img.buttonIcon(src='images/start.png', alt='Confirm button image')
          span.buttonSpan Save Parameters
    div#container
      div#dragBar(class='sameHeight')
        br
        label Configurations
        br
        select#configurationSelect(onchange='nodeList = {}; repopulateNodeCanvas(function(){prepopulateCanvasWithNodes()})')
        br
        br
        label Number of nodes 
        input#nodeNumber(type='number', min='1', max='50', value='1', onchange='updateDragHeader()')
        br
        br
        label Profiles
        br
        table
          tbody#profilesHook(onmouseover='showProfileInfo(event)')
        br
        br
        div#dragMe(class='notDraggableYet')
          header#setNumNodes
        br
        div#saveMessage(style='font-weight: bold; color: green; font-size: 18px;') Topology Saved
      div#canvasContainer
        div#slideInfo(class='sameHeight')
          div#pres
            h1 Click Node to Edit:
            label#hoverName
            br
            br
            label Port Set: 
            br
            div#hoverPortset
            br
            label Ethernet Vendor:
            br 
            div#hoverVendor
            br
            label Ethernet Interface:
            br 
            div#hoverInterface
            br
            label Ip Address Type: 
            br
            div#hoverAddress
            br
            label New Amount Value:
            br
            input#changeCount(type='number', min='0', step='1')
            br
            button#updateCount(onclick='updateCount()')
              img.buttonIcon(src='images/start.png', alt='Confirm button image')
              span.buttonSpan Update Node Amount
      div#nodeContextMenu
        div#deleteNodes Delete Selected
        div#mergeNodes Merge Selected
        div#splitNodes Split Selected
        
            
