//- ============================================================================
//-  Copyright   : DataSoft Corporation 2011-2013
//-  Nova is free software: you can redistribute it and/or modify
//-   it under the terms of the GNU General Public License as published by
//-   the Free Software Foundation, either version 3 of the License, or
//-   (at your option) any later version.
//-
//-   Nova is distributed in the hope that it will be useful,
//-   but WITHOUT ANY WARRANTY; without even the implied warranty of
//-   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//-   GNU General Public License for more details.
//-
//-   You should have received a copy of the GNU General Public License
//-   along with Nova.  If not, see <http://www.gnu.org/licenses/>.
//- ============================================================================

extends layout

block headerAdditions
  link(rel='stylesheet', type='text/css', href='wysiwyg.css', media='screen')
  script
    var interfaces = !{JSON.stringify(interfaces)};
    var nodeList = !{JSON.stringify(nodes)};
    var configurationList = !{JSON.stringify(configurations)};
    var currentConfig = '#{current}';
  script(type='text/javascript', src='scripts/wysiwyg.js')
block content
  div#pageWrap(onmouseover='hideProfileInfo(event)')
    div#headContainer(style='width: 250px;')
      label(style='font-size: 20px; font-weight: bold;') Haystack WYSIWYG
      br
    div(id='tabDock', style='margin-left: 152px')
    div#modalDialog(title='Split Nodes')
      div#rangeDiv
      button#splitAccept
        img.buttonIcon(src='images/start.png', alt='Confirm button image')
        span.buttonSpan Split Nodes
    div#container
      div#dragBar(class='sameHeight')
        div#expandHelp(onclick='handleHelpPaneSlide()') ?
          div#helpPane
            h1 WYSIWYG Actions
            label Keyboard Shortcuts:
            ul
              li 
                span.kbk Ctrl 
                + 
                span.kbk Shift
                + 
                span.kbk S
                span : Save Topology
              li
                span.kbk Ctrl
                +
                span.kbk Shift
                +
                span.kbk H
                span : Toggle help dialog
              li
                span.kbk Del
                span : When elements are lassoed, delete all selected
            label Mouse Actions:
            ul
              li Middle Mouse Click-Drag: Move viewport
              li Left Click Drag: Lasso for selecting nodes
              li Left Click Drag on Lassoed Nodes: Drag all selected nodes
              li Right Click on Nodes: Show Context Menu
            label To Create A New Node:
            ul
              li Select the Haystack you would like to create nodes in
              li Select how many nodes you will create
              li Click the profile you would like to use, and select
                ul
                  li Port Set
                  li Ethernet Vendor
                  li Ethernet Interfaces
                  li IP Allocation Type
              li Click "Save Parameters"
              li Drag template beneath profiles onto viewport
          br
        p Haystacks
        select#configurationSelect(onchange='nodeList = {}; repopulateNodeCanvas(function(){prepopulateCanvasWithNodes()})')
        br
        p Number of nodes 
        input#nodeNumber(type='number', min='1', max='50', value='1', onchange='updateDragHeader()')
        br
        p Profiles
        table#profilesHookTable
          tbody#profilesHook(onmouseover='showProfileInfo(event)')
        br
        div#dragMe(class='notDraggableYet')
          header#setNumNodes
        br
        div#saveMessage(style='font-weight: bold; color: green; font-size: 18px;') Topology Saved
      div#canvasContainer
        div#slideInfo(class='sameHeight')
          div#pres
            h1 Click Node to Edit:
            label#hoverName
            br
            br
            label Port Set: 
            br
            div#hoverPortset
            br
            label Ethernet Vendor:
            br 
            div#hoverVendor
            br
            label Ethernet Interface:
            br 
            div#hoverInterface
            br
            label Ip Address Type: 
            br
            div#hoverAddress
            br
            label New Amount Value:
            br
            input#changeCount(type='number', min='0', step='1')
            br
            button#updateCount(onclick='updateCount()')
              img.buttonIcon(src='images/start.png', alt='Confirm button image')
              span.buttonSpan Update Node Amount
      div#nodeContextMenu
        div#deleteNodes Delete Selected
        div#mergeNodes Merge Selected
        div#splitNodes Split Selected
      div#profileFadeInfo
        div#pres
          label#name
          br
          p(style='font-style: italic;') Click on the profile
          label Port Sets
          br
          select#portSets
          br
          br
          table#portsetTable
            thead
              tr
                th(class='left') Port
                th(class='right') Behavior
            tbody#profileTableHook
          br
          label Ethernet Vendors
          br
          select#vendors
          br
          br
          label Ethernet Interfaces
          br
          select#interfaces
          br
          br
          label Ip Address Allocation Type
          br
          select#allocationType(onchange='showIpBlock()')
            option DHCP
            option IP Range
          br
          div#ipBlock(style='display: none;')
            input#ip1(type='number', min='0', max='255', value='0', step='1')
            input#ip2(type='number', min='0', max='255', value='0', step='1')
            input#ip3(type='number', min='0', max='255', value='0', step='1')
            input#ip4(type='number', min='0', max='255', value='0', step='1')
          br
          button(onclick='saveSelectedParameters()')
            img.buttonIcon(src='images/start.png', alt='Confirm button image')
            span.buttonSpan Save Parameters